{#
 * @author			Julian Bogdani <jbogdani@gmail.com>
 * @copyright		BraDypUS, Julian Bogdani <jbogdani@gmail.com>
 * @license			See file LICENSE distributed with this code
 #}

<h3>1. {{ tr.get('multiupload') }}</h3>

<div id="{{ uid }}">
	
	<div class="row">
		<div class="col-sm-4">
			<a class="elUpload"></a>
			<input class="dir" type="hidden" name="dir" />
			
			<hr />
			<button class="btn btn-success upload">{{ tr.get('proceed') }}</button>
			<button class="btn btn-default cancel">{{ tr.get('cancel') }}</button>
		</div>
		
		<div class="col-sm-8 well">
			
			<h5>Filename syntax for automatic links</h5>
			<p><code>prefix_tablename_id.ext</code></p>
			<p>WHERE:</p>
			<p><code>prefix</code>: filename</p>
			<p><code>tablename</code>: name of table to link to.</p>
			<p><code>id</code>: id of table to link to. Can be</p>
			<ol>
				<li>one id, eg.: 5</li>
				<li>severals ids separated by commas, eg. 5,7,8,13</li>
				<li>number ranges separated by hyphens, eg. 3-6 is the same as 3,4,5,6</li>
				<li>a combination of (2) and (3), eg.: 5,8-10,15,17-22 is the same as 5,8,9,10,15,17,18,19,20,21,22</li>
			</ol>
			
		</div>
	</div>
	
	<div class="preview"></div>
	
</div>
<script>
	$('#{{ uid }} button.upload').on('click', function(){
		multiupload.showApproveGUI($('#{{ uid }} input.dir').val(), $('#{{ uid }} div.preview'));
	});
	
	$('#{{ uid }} button.cancel').on('click', function(){
		$('#{{ uid }} div.preview').html('');
	});
</script>
				
	
		