{#
 * @author			Julian Bogdani <jbogdani@gmail.com>
 * @copyright		BraDypUS, Julian Bogdani <jbogdani@gmail.com>
 * @license			See file LICENSE distributed with this code
 #}

<div id="{{ uid }}">
	<hr />
	<h3>2. {{ tr.get('upload_preview') }}</h3>
	<form action="javascript:void(0)">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>{{ tr.get('filename') }}</th>
					<th>{{ tr.get('ext') }}</th>
					<th>{{ tr.get('link_at_table') }}</th>
					<th>{{ tr.get('link_at_id') }}</th>
					<th></th>
				</tr>
			</thead>
			
			<tbody>
			
			{% for x, d in data %}
				<tr data-x="{{ x }}">
					<td><input name="f[{{ x }}][path]" type="hidden" readonly="true" value="{{ d.path }}"/>
						<input name="f[{{ x }}][filename]" type="text" value="{{ d.file }}" /></td>
					<td><input name="f[{{ x }}][ext]" type="text" readonly="true" value="{{ d.fData.ext }}" style="width:50px;" /></td>
					
					<td class="link tb-link">
						{% if d.fData.tb %}
						<input type="text" name="f[{{ x }}][tb]" value="{{ d.fData.tb }}" />
						{% endif %}
					</td>
					
					<td class="link id-link">
						{% for id in d.fData.id %}
						<input type="text" name="f[{{ x }}][id][]" value="{{ id }}" style="width:25px;" />
						{% endfor %}
						{% if d.fData.id|length == 0 %}
						
						{% endif %}
					</td>
					
					<td>
						<button type="button" class="erase_link btn"><i class="glyphicon glyphicon-trash"></i> {{ tr.get('erase_link') }}</button>
						<button class="btn add_link" type="button" data-x="{{ x }}"><i class="glyphicon glyphicon-plus"></i> {{ tr.get('add_link') }}</button>
						<button type="button" class="dont_import btn"><i class="glyphicon glyphicon-flag"></i> {{ tr.get('dont_import') }}</button>
					</td>
				</tr>
			{% endfor %}
			
			</tbody>
		</table>
		
		<button class="btn btn-success" type="submit">{{ tr.get('save') }}</button>
	</form>
	
	
</div>

<script>
	$('#{{ uid }} button.erase_link').on('click', function(){
		if ($(this).parents('tr').find('td.link input:first').is(':disabled')){
			$(this).parents('tr').find('td.link input').prop('disabled', false);
		} else {
			$(this).parents('tr').find('td.link input').prop('disabled', 'disabled');
		}
	});
	
	$('#{{ uid }} button.dont_import').on('click', function(){
		if ($(this).parents('tr').find('input:first').is(':disabled')){
			$(this).parents('tr').find('input').prop('disabled', false);//remove();
		} else {
			$(this).parents('tr').find('input').prop('disabled', 'disabled');//remove();
		}
	});
	
	$('#{{ uid }} form').on('submit', function(){
		multiupload.saveFiles($(this));
	});
	
	$('#{{ uid }} button.add_link').on('click', function(){
		
		multiupload.add_links($(this));
		
	});
</script>