{#
 * @author			Julian Bogdani <jbogdani@gmail.com>
 * @copyright		BraDypUS, Julian Bogdani <jbogdani@gmail.com>
 * @license			See file LICENSE distributed with this code
 #}

<form action="javascript:void(0);">
	<input type="hidden" value="{{ id }}" name="id" />
	<table cellpadding="10">
		<tr>
			<th>{{ tr_name }}</th>
			<td><input type="text" value="{{ name }}" name="name" /></td>
			<td rowspan="4" style="vertical-align:top;"><img src="http://www.gravatar.com/avatar/{{ avatar }}.png?s=80&amp;d=identicon" alt="avatar"></td>
		</tr>
		<tr>
			<th>{{ tr_email }}</th>
			<td><input type="email" value="{{ email }}" name="email" /></td>
		</tr>
		<tr>
		<th>{{ tr_password }}</th>
			<td><input type="password" name="password" /></td>
		</tr>
		<tr>
			<th>{{ tr_privilege }}</th>
			<td>
				<select name="privilege">
				{% for priv in privileges %}
					<option value="{{ priv.value }}" {% if priv.selected %} selected="selected" {% endif %} >{{ priv.label }}</option>
				{% endfor %}
				</select>
			</td>
		</tr>
	</table>
</form>