{#
 * @author			Julian Bogdani <jbogdani@gmail.com>
 * @copyright		BraDypUS, Julian Bogdani <jbogdani@gmail.com>
 * @license			See file LICENSE distributed with this code
 #}

<div>
	<form action="javascript:void(0);">
		<fieldset>
		<div class="row">
			<div class="col-sm-5">
				<h5>{{ tr.get('sender') }}</h5>
				<select name="from" class="form-control">
					<option value="{{ adm_email }}">{{ adm_email }}</option>
					<option value="{{ user_email }}">{{ user_email }}</option>
				</select>
				
				<h5>{{ tr.get('recipients') }}</h5>
				{% for id, priv in privileges %}
					<label><input type="checkbox" name="to[]" value="{{ id }}" /> {{ priv }}</label><br />
				{% endfor %}
				
			</div>
			
			<div class="col-sm-7">
				<h5>{{ tr.get('content') }}</h5>
				<p><input class="form-control" type="text" name="subject" placeholder="{{ tr.get('subject') }}" /></p>
				<textarea class="form-control" name="body" style="height:200px" placeholder="{{ tr.get('body') }}"></textarea>
			</div>
		</div>
		</fieldset>
		
	</form>
</div>