{#
 * @author			Julian Bogdani <jbogdani@gmail.com>
 * @copyright		BraDypUS, Julian Bogdani <jbogdani@gmail.com>
 * @license			See file LICENSE distributed with this code
 #}

<div class="form-group">
  <label for="upload-{{ uid }}" class="col-sm-3 control-label">
    2. {{ tr.get('upload_file') }}
  </label>
  <div class="col-sm-9">
    <div id="upload-{{ uid }}"></div>
  </div>
</div>
    
<div id="fields_{{ uid }}" style="margin-top: 60px;"></div>
    
<script>
  api.fileUpload(
    $('#upload-{{ uid }}'),
    'controller.php?obj=file_ctrl&method=upload',
    {
      limitExtensions: ['geojson', 'json'],
      limit2one: true,
      complete: function(id, name, resp){
        if (resp.success){
          $('#fields_{{ uid }}')
            .load('controller.php?obj=import_geodata_ctrl&method=setFields&'
              + 'param[]={{ tb }}&'
              + 'param[]=' + resp.uploadDir + '/' + resp.filename + '.' + resp.ext
              );
        }
      }
    }
  
    );
  
</script>

