{#
 * @author			Julian Bogdani <jbogdani@gmail.com>
 * @copyright		BraDypUS, Julian Bogdani <jbogdani@gmail.com>
 * @license			See file LICENSE distributed with this code
 #}

<div class="form-group">
  <p class="lead">3. {{ tr.get('set_matching_fields') }}</p>
  
  <label class="col-sm-3 control-label">{{ id_label }}</label>
  <div class="col-sm-6">
    <select id="flds_{{ uid }}">
      {% for fld, firstVal in resp %}
        <option value="{{ fld }}">{{ fld }} (eg: "{{ firstVal }}")</option>
      {% endfor %}
    </select>
  </div>
    <div class="col-sm-3">
      <button id="continue-{{ uid }}" type="button" class="btn btn-success btn-block">{{ tr.get('continue') }}</button>
    </div>
</div>

<div id="confirm_{{ uid }}" style="margin-top: 60px;"></div>

<script>
  $('#continue-{{ uid }}').on('click', function(){
    $('#confirm_{{ uid }}').load('controller.php?obj=import_geodata_ctrl&method=confirm&'
      + 'param[]={{ tb }}&'
      + 'param[]={{ file }}&'
      + 'param[]=' + $('#flds_{{ uid }}').val()
      );
  });
</script>
