{#
 * @author			Julian Bogdani <jbogdani@gmail.com>
 * @copyright		BraDypUS, Julian Bogdani <jbogdani@gmail.com>
 * @license			See file LICENSE distributed with this code
 #}

<form class="form-horizontal" role="form" action="javascript: void(0)">

  <div class="form-group">
    <label for="tb_{{ uid }}" class="col-sm-3 control-label">
      1. {{ tr.get('select_tb') }}
    </label>
    <div class="col-sm-9">
      <select id="tb_{{ uid }}" class="form-control">
        <option></option>
        {% for tb, label in tables %}
        {% if 'files' != tb %}
          <option value="{{ tb }}">{{ label }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>

  <div id="tb_dest_{{ uid }}" style="margin-top: 60px;"></div>

</form>


<script>
  $('#tb_{{ uid }}').on('change', function(){
    if (!$(this).val()){
      $('#tb_dest_{{ uid }}').html('');
    } else {
      $('#tb_dest_{{ uid }}').load('./?obj=import_geodata_ctrl&method=load_file&file=' + encodeURIComponent($(this).val()) );
    }
  });
</script>
