{#
 * @author			Julian Bogdani <jbogdani@gmail.com>
 * @copyright		BraDypUS, Julian Bogdani <jbogdani@gmail.com>
 * @license			See file LICENSE distributed with this code
 #}

<h2>{{ tr.get('user_preferences') }}</h2>

<div class="row" id="reload-{{ uid }}" style="display:none;">
	<div class="well well-large">
		<h3 class="text-warning">{{ tr.get('reload_sys_required') }}</h3>
		<button class="btn btn-warning" onclick="api.reloadApp(1);"><i class="glyphicon glyphicon-white glyphicon-repeat"></i> {{ tr.get('reload') }}</button>
	</div>
</div>


<div class="row">

	<!-- SAVE TO DB -->
	<div class="col-md-2">
		<div class="panel panel-default">
			<div class="panel-heading">{{ tr.get('save') }}</div>
			<div class="panel-body">{{ tr.get('save_pref_in_db') }}</div>
			<div class="panel-footer">
				<button class="btn btn-default" id="save2db-{{ uid }}"><i class="glyphicon glyphicon-hdd"></i> {{ tr.get('save') }}</button>
			</div>
		</div>
	</div>


	<!-- PAGINATION -->
	<div class="col-md-2">
		<div class="panel panel-default">
			<div class="panel-heading">{{ tr.get('result_pagination') }}</div>
			<div class="panel-body">
				<select id="pag-{{ uid }}" class="form-control">
					<option value="0" {% if infinite_scroll == false %} selected="true" {% endif %}>{{ tr.get('pages') }}</option>
					<option value="1" {% if infinite_scroll %} selected="true" {% endif %}>{{ tr.get('infinite_scroll') }}</option>
				</select>
			</div>
			<div class="panel-footer">
				<button class="btn btn-default" id="pag-but-{{ uid }}"><i class="glyphicon glyphicon-ok"></i> {{ tr.get('save') }}</button>
			</div>
		</div>
	</div>
	
	<!-- LANGUAGE -->
	<div class="col-md-2">
		<div class="panel panel-default">
			<div class="panel-heading">{{ tr.get('user_lang') }}</div>
			<div class="panel-body">
				<select id="lang-{{ uid }}" class="form-control">
					{% for l in all_langs %}
					<option {% if l == current_lang %} selected="true" {% endif %}>{{ l }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="panel-footer">
				<button class="btn btn-default" id="lang-but-{{ uid }}"><i class="glyphicon glyphicon-ok"></i> {{ tr.get('save') }}</button>
			</div>
		</div>
	</div>
	
	<div class="col-md-2">
		<div class="panel panel-default" >
			<div class="panel-heading">{{ tr.get('template_mng') }}</div>
			<div class="panel-body">
				<button class="btn btn-default" onclick="core.runMod('myTmpl');"><i class="glyphicon glyphicon-arrow-right"></i> {{ tr.get('open_module') }}</button>
			</div>
		</div>
	</div>
	
	<div class="col-md-2">
		<div class="panel panel-default">
			<div class="panel-heading">{{ tr.get('user_data') }}</div>
			<div class="panel-body">
				<button class="btn btn-default" onclick="core.runMod('user', [{{ user_id }}, true]);"><i class="glyphicon glyphicon-arrow-right"></i> {{ tr.get('open_module') }}</button>
			</div>
		</div>
	</div>
	
</div>

<div class="row">
	
	
	<div class="col-md-2">
		<div class="panel panel-default">
			<div class="panel-heading">{{ tr.get('preview_flds') }}</div>
			<div class="panel-body">
				<button class="btn btn-default" onclick="core.runMod('preview_flds');"><i class="glyphicon glyphicon-arrow-right"></i> {{ tr.get('open_module') }}</button>
			</div>
		</div>
	</div>
	
	
	
</div>



<script>

// PAGINATION
$('#pag-but-{{ uid }}').click(function(){
	var val = $('#pag-{{ uid }}').val();
	
	$.get('./?obj=preferences_ctrl&method=save&key=infinite_scroll' + (val == 0 ? '' : '&val=' + val), function(){
		core.message("{{ tr.get('pref_set') }}", 'success');
		$('#reload-{{ uid }}').show();
	});
});

// LANGUAGE
$('#lang-but-{{ uid }}').click(function(){
	var val = $('#lang-{{ uid }}').val();
	
	$.get('./?obj=preferences_ctrl&method=save&key=lang&val=' + val, function(){
		core.message("{{ tr.get('pref_set') }}", 'success');
		$('#reload-{{ uid }}').show();
	});
});

// SAVE TO DB
$('#save2db-{{ uid }}').on('click', function(){
	preferences.save2db();
});
</script>