<div id="{{ uid }}">
  
  <h3>{{ tmpl }}</h3>

  {% if error %}
  <div class="text-danger">{{ error }}</div>
  {% else %}
  <pre contenteditable class="content">{{ content }}</pre>

  <div class="row">
    <div class="col-xs-6">
      <button class="btn btn-success btn-block saveTmpl">{{ tr.get('save')}}</button>
    </div>
    <div class="col-xs-3">
      <button class="btn btn-warning btn-block renameTmpl">{{ tr.get('rename')}}</button>
    </div>
    <div class="col-xs-3">
      <button class="btn btn-danger btn-block deleteTmpl">{{ tr.get('erase')}}</button>
    </div>
  </div>
  {% endif %}
</div>
<script>

$('#{{ uid }} .btn').on('click', e => {
  const el = $(e.target);

  if (e.target.classList.contains("saveTmpl")){
    const text = document.querySelector('#{{ uid }} .content').innerText;
    templates.saveTmpl('{{ tmpl }}', text);
  }

  if (e.target.classList.contains("deleteTmpl")){
    templates.deleteTmpl('{{ tmpl }}');
  }

  if (e.target.classList.contains("renameTmpl")){
    templates.renameTmpl('{{ tmpl }}');
  }
});
</script>