{#
 * @author			Julian Bogdani <jbogdani@gmail.com>
 * @copyright		BraDypUS, Julian Bogdani <jbogdani@gmail.com>
 * @license			See file LICENSE distributed with this code
 #}

<div class="row">
	<div class="col-sm-7 col-sm-offset-1">
		<div class="panel panel-default">
		
			<div class="panel-heading">
				<h2>{{ appdata.name|upper }}<br /><small>{{ appdata.definition }}</small></h2>
			</div>
			
			<div class="panel-body">
				<form method="post" id="{{ uid }}" class="big" action="javascript:void(0)">
					<div class="row" style="padding: 50px 0;">
						<div class="col-sm-7 col-sm-offset-1">
							<p><input type="email" class="email" name="email" placeholder="{{ tr.get('email') }}" /></p>
							<p><input type="password" class="password" name="password" placeholder="{{ tr.get('password') }}" /></p>
							<p class="checkbox"><label><input type="checkbox" name="remember" class="remember" /> {{ tr.get('remember_me') }}</label></p>
						</div>
						
						<div class="col-sm-4">
							<p><button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> {{ tr.get('send') }}</button></p>
							<p><button type="button" class="btn btn-danger" id="close"><i class="glyphicon glyphicon-remove"></i> {{ tr.get('close') }}</button></p>
						</div>
					</div>
				</form>
			</div>
			
			<div class="panel-footer">
				<button type="button" class="btn btn-default" id="lost_pwd">{{ tr.get('lost_passsword') }}</button>
				<button type="button" class="btn btn-default" id="new_user">{{ tr.get('register_new_user') }}</button>
		  </div>
		</div>
		
	</div>
</div>
<script>
	$('#{{ uid }}').submit(function(event){
		
		var email = $(this).find('input.email').val(),
			pass = $(this).find('input.password').val();
		
		if ( email =='' || pass =='' ) {
			core.message(core.tr('email_password_needed'), 'error');
			return false;
		}
		core.getJSON('login_ctrl', 'auth', false,
				{
					email: email,
					password: pass,
					app: '{{ appdata.name }}',
					remember: $(this).find('input.remember').is(':checked')
				},
				
				function(data){
					if (data.status == 'ok'){
						window.location.reload();
					} else {
						core.message(data.verbose, 'error');
					}
		});
		event.preventDefault();

		return false;
	});
	
	$('#lost_pwd').click(function(){
		login.lost_pwd('{{ appdata.name }}');
	});
	
	$('#new_user').click(function(){
		login.new_user_form('{{ appdata.name }}');
	});
	
	$('#close').click(function(){
		$('#select_apps .login').html('').slideUp();
		$('#select_apps .buttons').slideDown();
	});
	
	$('#{{ uid }} input.email').focus();
</script>