{#
 * @author			Julian Bogdani <jbogdani@gmail.com>
 * @copyright		BraDypUS, Julian Bogdani <jbogdani@gmail.com>
 * @license			See file LICENSE distributed with this code
 #}

<div style="width:400px; margin:30px auto 0;">
	<form action="javascript:void(0)" id="{{ uid }}" class="big">
		<div class="form-group">
			<label>{{ tr.get('name') }}</label>
			<input type="text" name="name" placeholder="{{ tr.get('name') }}" class="form-control" required="true" />
		</div>
		
		<div class="form-group">
			<label>{{ tr.get('email') }}</label>
			<input type="text" name="email" placeholder="{{ tr.get('email') }}" class="form-control" required="true" />
		</div>
		
		<div class="alert alert-danger">
		{{ tr.get('alert_email_important') }}
		</div>
		
		<div class="form-group">
			<label>{{ tr.get('password') }}</label>
			<input type="password" name="password" placeholder="{{ tr.get('password') }}"  class="form-control" required="true" />
		</div>
		
		<div class="form-group">
			<label>{{ tr.get('new_password_bis') }}</label>
			<input type="password" name="password2" placeholder="{{ tr.get('new_password_bis') }}"  class="form-control" required="true" />
		</div>
		
		<input type="hidden" name="app" value="{{ app }}" />
		
		<div class="alert alert-danger">*{{ tr.get('all_fields_required') }}</div>

		<div class="form-group">
			<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-white glyphicon-ok"></i> {{ tr.get('send') }}</button>
			<button type="button" data-dismiss="modal" class="btn btn-info"><i class="glyphicon glyphicon-white glyphicon-remove"></i> {{ tr.get('close') }}</button>
		</div>
		
	</form>
	
</div>

<script>
$('#{{ uid }}').submit(function(){
	  core.getJSON('login_ctrl', 'addUser', false, $(this).serialize(), function(data){
		  core.message(data.text, data.status, true);
	  });
});

</script>