{#
 * @author			Julian Bogdani <jbogdani@gmail.com>
 * @copyright		BraDypUS, Julian Bogdani <jbogdani@gmail.com>
 * @license			See file LICENSE distributed with this code
 #}

<h2>{{ tr.get('greeting', user.name) }}</h2>

<div style="margin: 10px; padding:10px;">
	<input type="password" class="form-control" id="reset-passw1" placeholder="{{ tr.get('new_password') }}" />
</div>

<div style="margin: 10px; padding:10px;">
	<input type="password" class="form-control" id="reset-passw2" placeholder="{{ tr.get('new_password_bis') }}" />
</div>

<input type="hidden" value="{{ user.id }}" id="reset-id">
<input type="hidden" value="{{ app }}" id="reset-app">

<button class="btn btn-primary" id="reset-send-{{ uid }}">{{ tr.get('send') }}</button> 
<button class="btn btn-primary" id="reset-cancel-{{ uid }}">{{ tr.get('cancel') }}</button> 



<script>
	$('#reset-send-{{ uid }}').on('click', function(){
		 var pwd1 = $('#reset-passw1').val(),
		 	pwd2 = $('#reset-passw2').val()
		 	id = $('#reset-id').val()
		 	app = $('#reset-app').val();
		 	
		 if (!pwd1 || !pwd2 || (pwd1 !== pwd2 )){
			 core.message("{{ tr.get('pass_empty_or_not_match') }}", 'error');
		 } else {
       core.getJSON('login_ctrl','changePwd',false,{app:app, id:id, pwd:pwd1},function(data){
         core.message(data.text, data.status);
         
         if (data.status === 'success'){
           window.location = './#/' + app;
         }
			 });
		 }
	 });
	
	$('#reset-cancel-{{ uid }}').on('click', function(){
		window.location = './';
	});
</script>