{#
 * @author			Julian Bogdani <jbogdani@gmail.com>
 * @copyright		BraDypUS, Julian Bogdani <jbogdani@gmail.com>
 * @license			See file LICENSE distributed with this code
 #}

<div class="container" id="select_apps">

	<div class="text-center">
		<img style="width:300px;" alt="BraDypUS Cloud Databases" src="./assets/bdus/img/bdus.svg" />
	</div>

	<div class="row">
		<div class="col-sm-6">
			
		</div>
		<div class="col-sm-6 text-right">
		</div>
	</div>

	<hr>
	
	<div class="btn-container">
	
		<div class="buttons clearfix">
	
			{% if dataApp %}
			<h3>{{ choose_db }}</h3>
			{% endif %}
			<div class="row">
			
			{% for dataApp in data %}
				<div class="col-sm-3 col-xs-6">
					<a class="btn btn-default btn-lg app" href="javascript:void(0)" data-db="{{ dataApp.db }}">
						{{ dataApp.name }}
						<span class="pull-right" style="right:3px; color:#759bbc; position:relative;"><i class="icon-play-sign hidden-xs"></i></span>
					</a>
				</div>
				{% if app and app == dataApp.db %}
					<script>login.loadLoginForm('{{ dataApp.db }}');</script>
				{% endif %}
			{% endfor %}
		</div>
		
		{% if create_app %}
		<div class="text-center">
			<hr>
			<button class="btn btn-lg btn-danger app_create">{{ tr.get('app_create') }}</button>
		</div>
		{% endif %}
		</div>
		<div class="login"></div>
		
	</div>
	
	
</div>

<div class="footer">
  
  <p><strong>BraDypUS</strong> | v. {{ version }}</p>
  <p class="text-muted">
  
    <a href="https://github.com/jbogdani/BraDypUS" target="_blank">
      BraDypUS databases is a free and open source (AGPL-3.0 licensed) software
      available for download on GitHub
    </a>
    <br />
    <a href="https://github.com/jbogdani/BraDypUS/issues" target="_blank">
      Please report any issue you might encounter
    </a>
  </p>
  
</div>

<script>
	$('.app').on('click', function(){
		login.loadLoginForm($(this).data('db'));
	});
	$('.app_create').on('click', function(){
		login.loadCreateApp();
	});
	
</script>