<div class="{{ uid }}">
  <h4 class="text-center">
  {% if fld %}
    {{ tr.get('cfg_available_for', [ tb ~'.'~ fld ] ) }}
  {% else %}
  {{ tr.get('cfg_new_column_setting') }}
  {% endif %}
  </h4>


  <form action="javascript:void(0)" class="form-horizontal" id="{{ uid }}">
    <button type="submit" style="display:none;"></button>

    <input type="hidden" name="tb_name" value="{{ tb }}">
    {% if fld %}
    <input type="hidden" name="fld_orig_name" value="{{ fld }}">
    {% endif %}

  <fieldset>
  {% for id, arr in fld_structure %}
    <div class="form-group cont_{{ data[id] }}">
      <label class="col-sm-3 control-label">{{ id }}{% if arr.required %} *{% endif %}</label>
      <div class="col-sm-7">

        {% if arr.type == 'input' %}
          <input  class="input_{{ id }}" name="{{ id }}" 
                  type="text" 
                  {% if arr.required %} required="required" {% endif %}
                  {% if arr.pattern %} pattern="{{ arr.pattern }}" {% endif %}
                  {% if arr.readonly and data[id] %}readonly="true"{% endif %}
                  value="{{ data[id] }}">
          {% if id == 'name' and fld %}
          <button type="button" class="btn btn-block btn-danger" onclick="config.renameFld('{{ tb }}', '{{ data[id] }}', this)">
            {{ tr.get('rename_column') }}
          </button>
          {% endif %}
        
        {% elseif arr.type == 'select' %}
          <select class="input_{{ id }}" 
                  name="{{ id }}" 
                  {% if arr.required %} required="required" {% endif %}
                  {% if arr.readonly and data[id] %}readonly="true"{% endif %}
                  >
            <option></option>
              {% for val in arr.values %}
              <option{% if val == data[id] %} selected="true"{% endif %}>
                {{ val }}
              </option>
              {% endfor %}
          </select>

        {% elseif arr.type == 'multi_select' %}
        
          {% for v in data[id]%}
          <select class="input_{{ id }}" 
                  name="{{ id }}[]"
                  {% if arr.required %} required="required" {% endif %}
                  {% if arr.readonly and data[id] %}readonly="true"{% endif %}
                  >
            <option></option>
            {% for val in arr.values %}
            <option{% if val == v %} selected="true" {% endif %}>
              {{ val }}
            </option>
            {% endfor %}
          </select>
          <br />
          {% endfor %}
          <select class="input_{{ id }}" 
                  name="{{ id }}[]"
                  {% if arr.required %} required="required" {% endif %}
                  {% if arr.readonly and data[id] %}readonly="true"{% endif %}
                  >
            <option></option>
            {% for val in arr.values %}
            <option>{{ val }}</option>
            {% endfor %}
          </select>
        {% endif %}
        <span id="helpBlock" class="help-block">{{ arr.help }}</span>

      </div>
    </div>
  {% endfor %}
  <button type="submit" class="btn btn-success btn-block"><i class="glyphicon glyphicon-floppy-disk"></i> {{ tr.get('save') }}</button>

  {% if fld %}
    <div style="margin: 3rem auto">
      <hr>
      <p class="text-danger">
      {{ tr.get('warning_delete_column') }}
      </p>
      <button type="button" class="btn btn-danger btn-block delete-column">
        {{ tr.get('delete_column') }}
      </button>
    </div>
  {% endif %}
  </fieldset>
  </form>
</div>

<script>
$('form#{{ uid }}').on('submit', function(event){
  event.preventDefault();
  {% if fld %}
  config.saveFldProperties($(this), '{{ tb }}', '{{ fld }}' );
  {% else %}
  config.addNewFld($(this), '{{ tb }}' );
  {% endif %}
});
{% if fld %}
$('#{{ uid }} button.delete-column').on('click', e => {
  config.deleteColumn('{{ tb }}', '{{ fld }}', e.target);
})
{% endif %}
</script>