<h4 class="text-center">
	{{ tr.get('cfg_available_fields', [tb_label]) }}
</h4>

<button 
	type="button" 
	class="add_new_fld btn btn-success btn-block" 
	onclick="config.viewFldProperties('{{ tb }}', false, this)"
	<i class="fa fa-plus"></i> {{ tr.get('cfg_add_column') }}
</button>

<hr>

<div class="list-group">
{% for fld in all_fields %}
	<button 
		data-table="{{ tb }}" 
		data-field="{{ fld.name }}" 
		class="list-group-item edit_fld"
		onclick="config.viewFldProperties('{{ tb }}', '{{ fld.name }}', this)"
	>
		{{ fld.label}} / {{ fld.name }}
	</button> 
{% endfor %}
</ul>