{#
 * @author			Julian Bogdani <jbogdani@gmail.com>
 * @copyright		BraDypUS, Julian Bogdani <jbogdani@gmail.com>
 * @license			See file LICENSE distributed with this code
 #}

<h3>{{ title }}</h3>
<ul class="gallery{% if can_edit %} sortable{% endif %} thumbnails">
	{% for file in all_files %}

	<li data-id="{{ file.linkid }}">
		{{ images.getThumbHtml(file)|raw }}
		<div style="position: relative;">
			<div class="opts btn-group" style="display: none; position:absolute; top:-40px;">
				<button class="btn btn-default btn-sm read" data-table="{{ prefix }}files" data-id="{{ file.id }}"><i class="fa fa-eye"></i></button>
				{% if can_edit %}
				<button class="btn btn-default btn-sm edit" data-table="{{ prefix }}files" data-id="{{ file.id }}"><i class="fa fa-pencil"></i></button>
				{% endif %}
				<button class="btn btn-default btn-sm download" data-path="{{ path }}{{ file.id }}.{{ file.ext}}"><i class="fa fa-download"></i></button>
			</div>
		</div>
	</li>
	{% endfor %}
</ul>

<script>
$('ul.gallery button.read')
	.click(function(){
		api.record.read($(this).data('table'), [$(this).data('id')]);
	});

$('ul.gallery button.edit')
	.click(function(){
		api.record.edit($(this).data('table'), [$(this).data('id')]);
	});


$('ul.gallery button.download')
	.click(function(){
		window.open($(this).data('path'));
	});

$('ul.gallery li').hover(
		function(){
			$(this).find('div.opts').fadeIn().css('display', 'inline-block');
			},
		function(){
			$(this).find('div.opts').fadeOut();
			}
	);


new Sortable(document.getElementsByClassName('sortable')[0], {
	animation: 150,
	ghostClass: 'active',
	onEnd: function (evt) {
		const sortArray = this.toArray();
		core.runAndRespond('file_ctrl', 'sort', { filegallery: sortArray });
	}
});

</script>
