{#
 * @author			Julian Bogdani <jbogdani@gmail.com>
 * @copyright		BraDypUS, Julian Bogdani <jbogdani@gmail.com>
 * @license			See file LICENSE distributed with this code
 #}

<div id="{{ uid }}">
	<h3>{{ tr.get('advanced_search') }}</h3>

	<div class="pickFields" style="display: none">
		<div class="row">
			<div class="col-xs-6 col-sm-2">
				<select name="adv[aa][connector]" class="form-control">{{ connector|raw }}</select>
			</div>
		</div>
		{% include 'main_selects.twig' %}
	</div>
		
	<div class="pickOrder" style="display: none">
		<div>
			<select name="adv[order][aa]" class="form-control">{{ order|raw }}</select>
		</div>
	</div>
	
	<form action="javascript:void(0)" class="form-inline" >
			
		{% include 'main_selects.twig' %}
		
		<div class="addFields"></div>
		
		<p><button class="cloneFields btn btn-default" type="button" style="margin:5px; padding: 0 10px;">+</button></p>
		
		<!-- clausola ORDER -->
		<fieldset style="padding: 10px">
			<h3>{{ tr.get('order') }}</h3>
			<div class="putOrder"></div>
	
			<p><button class="cloneOrder btn btn-default" type="button" style="margin:5px; padding: 0 10px;">+</button></p>
		</fieldset>
		
	
		<hr />
		<div>
			<button type="submit" class="btn btn-success send">{{ tr.get('send') }}</button>
			<button type="button" class="btn btn-info test">{{ tr.get('test_sql') }}</button>
		</div>
	</form>
</div>

<script>
	enhance.pimpEl($('#{{ uid }} select'));

	$('#{{ uid }} form').on('submit', function(){
		var form_data = $('#{{ uid }} form').serializeArray();
		api.showResults('{{ tb }}', 'type=advanced', core.tr('advanced_search') + ' ({{ tb }})', form_data);

	});
	
	$('#{{ uid }} button.test').on('click', function(){
		var form_data = $('#{{ uid }} form').serialize();
		search.test('advanced', '{{ tb }}', form_data);
	});
	
	$('#{{ uid }} span.checklabel').checklabel();
	
	
	$('#{{ uid }} button.cloneFields').on('click', function(){
		utils.myClone($('#{{ uid }}  div.pickFields'),{
			where:$('#{{ uid }} div.addFields'),
			empty:false,
			baseName:'aa',
			changeId: true,
			loaded:function(div){
				div.find('span.checklabel').checklabel();
			}
		});
	});

	$('#{{ uid }} button.cloneOrder').on('click', function(){
		utils.myClone($('#{{ uid }} div.pickOrder'), {
			where:$('#{{ uid }} div.putOrder'),
			empty:false,
			baseName:'aa'
		});
	});
</script>