{#
 * @author			Julian Bogdani <jbogdani@gmail.com>
 * @copyright		BraDypUS, Julian Bogdani <jbogdani@gmail.com>
 * @license			See file LICENSE distributed with this code
 #}

<div id="{{ uid }}">
	<form action="javascript:void(0)" class="form-horizontal">
		<input type="hidden" class="form-control" name="tb" value="{{ tb }}" />
		<input type="hidden" class="form-control" name="obj_encoded" value="{{ obj_encoded }}" />
		
		<div class="row">
			<div class="col-sm-3 bar">
			</div>
			
			<div class="col-sm-1 add_bar">
				<button class="btn btn-info add_bar" type="button">{{ tr.get('add_bar') }}</button>
			</div>
		</div>
		
		
		<div class="row">
			<div class="col-sm-3">
				<label class="control-label">{{ tr.get('define_series') }}</label>
				<br />
				<select name="series" class="form-control">
					<option></option>
					{% for id, label in fields %}
						<option value="{{ id }}">{{ label }}</option>
					{% endfor %}
				</select>
			</div>
			
		</div>
			
		<hr />
		
		<button type="submit" class="btn btn-primary">{{ tr.get('send') }}</button>
	</form>
</div>
<script>

$('#{{ uid }} div.bar').load('./?obj=chart_ctrl&method=show_row&tb={{ tb }}');

$('#{{ uid }} button.add_bar').click(function(){
	$(this).parent('div').before(
		$('<div />').addClass('col-sm-3 added_bar').load('./?obj=chart_ctrl&method=show_row&tb={{ tb }}&remove=true')
	);
});

$('#{{ uid }} select').select2({
	width: '95%'
});

$('#{{ uid }} form').submit(function(){
	chart.buildFromParams($(this).serializeArray());
});
</script>