<div id="{{ uid }}">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 control-label">{{ tr.get('app_name') }}</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="name" pattern="^[a-z]{3,7}$" required>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-4 control-label">{{ tr.get('definition') }}</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="definition" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">{{ tr.get('your_email') }}</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="your_email" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">{{ tr.get('your_password') }}</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" name="your_password" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">{{ tr.get('db_engine') }}</label>
            <div class="col-sm-8">
                <select class="form-control" name="db_engine">
                {% for db in db_engines %}
                <option>{{ db }}</option>
                {% endfor %}
                </select>
            </div>
        </div>

        <div class="optional">
            <div class="form-group">
                <label class="col-sm-4 control-label">{{ tr.get('db_host') }}</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="db_host" value="">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">{{ tr.get('db_port') }}</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="db_port">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">{{ tr.get('db_name') }}</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="db_name">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">{{ tr.get('db_username') }}</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="db_username">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 control-label">{{ tr.get('db_password') }}</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="db_password">
                </div>
            </div>
        </div>

        <div class="report"></div>

        <div class="form-group app_create">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn btn-danger btn-block">{{ tr.get('app_create') }}</button>
            </div>
        </div>
    </form>
</div>
<script>
if ($(':input[name="db_engine"]').val() === 'sqlite'){
    $('.optional').hide();
} else {
    $('.optional').show();
}

$(':input[name="db_engine"]').on('change', ()=>{
    if ($(':input[name="db_engine"]').val() === 'sqlite'){
        $('.optional').hide();
    } else {
        $('.optional').show();
    }
});

$('#{{ uid }} form').on('submit', (e) => {

    e.preventDefault();
    const formData = $('#{{ uid }} form').serializeArray();
    core.getJSON('new_app_ctrl', 'add_app', false, formData, resp => {
        core.message(resp.text, resp.status, resp.status === 'error');
        if (resp.status === 'success'){
            $('#{{ uid }} .report').html(`<h2>Report</h2><hr>${resp.log.map( i => `<li>${i}</li>`).join('')}`);
            $('.app_create').hide();
        }
    })
});
</script>