<div id="{{ uid }}">
	<div class="row">
		<div class="col-sm-2">
			<i style="font-size:8em;" class="text-muted glyphicon glyphicon-cloud-{% if direction == 'fromServer'%}download{% else %}upload{% endif %}"></i>
		</div>
			
		<div class="col-sm-4">
			<h3>{{ tr.get('files_to_sync') }}</h3>

			<p>
				<button class="btn btn-danger btn-block sync"><i class="glyphicon glyphicon-cloud-{% if direction == 'fromServer'%}download{% else %}upload{% endif %}"></i> {{ tr.get('sync') }}</button>
			</p>

			<ul class="nav nav-pills nav-stacked files">
			{% for file, size in files %}
					<li data-file="{{ file }}" class="file alert alert-info">
						{{ file }}
						<span class="status pull-right"></span>
						<span class="badge pull-right">{{ '%.2f'|format(size/1024) }}kB</span>

					</li>
			{% endfor %}
			</ul>

		</div>
	</div>
	
</div>

<script>
	
	function syncLi(ul, offset){
		offset = offset ? offset : 1;
		var li = ul.find('li:nth-child(' + offset + ')');
		var file = li.data('file');
		//var next = li.next().length > 0 ? li.next() : false;
		
		// set waiting
		li.find('.status').html('<img src="img/spinner.gif" />');
		//return;
		$.get('controller.php?obj=sync_ctrl&method=sync&file=' + file + '&direction={{ direction }}', function(data){
			if (data){
				li.removeClass('alert-info').addClass('alert-danger');
				li.find('.status').html('<i class="glyphicon glyphicon-exclamation-sign"></i>');
			} else {
				li.removeClass('alert-info').addClass('alert-success');
				li.find('.status').html('<i class="glyphicon glyphicon-ok"></i>');
			}
			
			if (li.next().length > 0){
				syncLi(ul, offset+1);
			}
		})
		
	}
	
	$('#{{ uid }} .sync').on('click', function(){
		
		syncLi($('#{{ uid }} ul.files'));
		
	});
</script>