{#
 * @author			Julian Bogdani <jbogdani@gmail.com>
 * @copyright		BraDypUS, Julian Bogdani <jbogdani@gmail.com>
 * @license			See file LICENSE distributed with this code
 #}
<form action="javascript:void(0)">
	<table cellpadding="5">
		<tr>
			<th>LANG</th>
			<td>
				<select type="text" name="lang">
				{% for l in available_langs %}
					<option{% if l|replace({'.inc':''}) == info.lang %} selected="true" {% endif %}>{{ l|replace({'.inc': ''}) }}</option>
				{% endfor %}
				</select>
			</td>
		</tr>
		
		<tr>
			<th>NAME: </th>
			<td><input type="text" name="name" readonly="true" value="{{ info.name }}" /></td>
		</tr>
		
		<tr>
			<th>DEFINITION: </th>
			<td><textarea name="definition">{{ info.definition }}</textarea></td>
		</tr>
		
		<tr>
			<th>STATUS</th>
			<td>
				<select type="text" name="status">
					{% for s in status %}
						<option{% if s == info.status %} selected="true" {% endif %}>{{ s }}</option>
					{% endfor %}
						
				</select>
			</td>
		</tr>
		
		<tr>
			<th>OFFLINE</th>
			<td>
				<select type="text" name="offline">
					
					{% for o in offline %}
						<option{% if o == info.offline %} selected="true" {% endif %}>{{ o }}</option>
					{% endfor %}
		
				</select>
			</td>
		</tr>
		
		<tr>
			<th>SEARCH_CODE: </th>
			<td><input type="text" name="search_code" value="{{ info.search_code }}" /></td>
		</tr>
		
		<tr>
			<th>DOT_PATH: </th>
			<td><input type="text" name="dot_path" value="{{ info.dot_path }}" /></td>
		</tr>
		
		<tr>
			<th>API login as user: </th>
			<td>
				<select type="text" name="api_login_as_user">
					<option value="">{{ tr_disabled }}</option>
					{% for u in users %}
						<option{% if info.api_login_as_user == u.id %} selected="true" {% endif %} value="{{ u.id }}">{{ u.name }} ({{u.verbose_privilege }})</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		
		<tr>
			<th>Authomatic login as user: </th>
			<td>
				<select type="text" name="auth_login_as_user">
					<option value="">{{ tr_disabled }}</option>
					{% for u in users %}
						<option{% if info.auth_login_as_user == u.id %} selected="true" {% endif %} value="{{ u.id }}">{{ u.name }} ({{u.verbose_privilege }})</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		
		<tr>
			<th>FTP connection string</th>
			<td><input type="text" name="ftp_string" value="{{ info.ftp_string }}" /></td>
		</tr>
			
	</table>
</form>