{#
 * @author			Julian Bogdani <jbogdani@gmail.com>
 * @copyright		BraDypUS, Julian Bogdani <jbogdani@gmail.com>
 * @license			See file LICENSE distributed with this code
 #}
<form action="javascript:void(0)">
	<table class="table table-striped">
		<tr>
			<th>LANG</th>
			<td>
				<select type="text" name="lang">
				{% for l in available_langs %}
					<option{% if l|replace({'.inc':''}) == info.lang %} selected="true" {% endif %}>{{ l|replace({'.inc': ''}) }}</option>
				{% endfor %}
				</select>
			</td>
		</tr>

		<tr>
			<th>NAME: </th>
			<td><input type="text" name="name" readonly="true" value="{{ info.name }}" /></td>
		</tr>

		<tr>
			<th>DEFINITION: </th>
			<td><textarea name="definition">{{ info.definition }}</textarea></td>
		</tr>

		<tr>
			<th>STATUS</th>
			<td>
				<select type="text" name="status">
					{% for s in status %}
						<option{% if s == info.status %} selected="true" {% endif %}>{{ s }}</option>
					{% endfor %}

				</select>
			</td>
		</tr>

		<tr>
			<th>VIRTUAL KEYBOARD</th>
			<td>
				<select type="text" name="virtual_keyboard">
					<option value="" {% if info.virtual_keyboard == false or info.virtual_keyboard == '0' %} selected="true" {% endif %}>0</option>
					<option value="1" {% if info.virtual_keyboard %} selected="true" {% endif %}>1</option>
				</select>
			</td>
		</tr>

		<tr>
			<th>DOT_PATH: </th>
			<td><input type="text" name="dot_path" value="{{ info.dot_path }}" /></td>
		</tr>

		<tr>
			<th>API login as user: </th>
			<td>
				<select type="text" name="api_login_as_user">
					<option value="">{{ tr_disabled }}</option>
					{% for u in users %}
						<option{% if info.api_login_as_user == u.id %} selected="true" {% endif %} value="{{ u.id }}">{{ u.name }} ({{u.verbose_privilege }})</option>
					{% endfor %}
				</select>
			</td>
		</tr>

		<tr>
			<th>Authomatic login as user: </th>
			<td>
				<select type="text" name="auth_login_as_user">
					<option value="">{{ tr_disabled }}</option>
					{% for u in users %}
						<option{% if info.auth_login_as_user == u.id %} selected="true" {% endif %} value="{{ u.id }}">{{ u.name }} ({{u.verbose_privilege }})</option>
					{% endfor %}
				</select>
			</td>
		</tr>

		<tr>
			<th>Database engine</th>
			<td>
				<select type="text" name="db_engine">
					{% for engine in db_engines %}
					<option {% if engine == info.db_engine %}selected="true"{% endif %}>{{ engine }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>

		<tr>
			<th>Database host</th>
			<td><input type="text" name="db_host" value="{{ info.db_host }}" /></td>
		</tr>
		
		<tr>
			<th>Database port</th>
			<td><input type="text" name="db_port" value="{{ info.db_port }}" /></td>
		</tr>
		
		<tr>
			<th>Database name</th>
			<td><input type="text" name="db_name" value="{{ info.db_name }}" /></td>
		</tr>

		<tr>
			<th>Database username</th>
			<td><input type="text" name="db_username" value="{{ info.db_username }}" /></td>
		</tr>
		
		<tr>
			<th>Database password</th>
			<td><input type="text" name="db_password" value="{{ info.db_password }}" /></td>
		</tr>

		
		<tr>
			<th>FTP connection string</th>
			<td><input type="text" name="ftp_string" value="{{ info.ftp_string }}" /></td>
		</tr>

		<tr>
			<th>Google maps key</th>
			<td><input type="text" name="gmapskey" value="{{ info.gmapskey }}" /></td>
		</tr>

		<tr>
			<th>Limit uploaded images to size:</th>
			<td><input type="text" name="maxImageSize" value="{% if info.maxImageSize %}{{ info.maxImageSize }}{% else %} 1500 {% endif %}" /></td>
		</tr>

	</table>
</form>
