{#
 * @author			Julian Bogdani <jbogdani@gmail.com>
 * @copyright		BraDypUS, Julian Bogdani <jbogdani@gmail.com>
 * @license			See file LICENSE distributed with this code
 #}



{% if vocs|length == 0 %}
	<h2 class="text-error">{{ tr.get('no_voc_available') }}</h2>
{% else %}
	<h2>{{ tr.get('available_vocs') }}</h2>
{% endif %}

<div style="margin: 20px 0;">
	<button class="btn btn-primary add_voc">
		<i class="fa fa-plus"></i> {{ tr.get('new_voc') }}
	</button>
</div>

{% if vocs|length > 0 %}

	<ul class="list-group" style="width:300px;">

	{% for voc, voc_arr in vocs %}

		<li class="list-unstyled">
			<a class="voc list-group-item" href="javascript:void(0)">{{ voc }}</a>
			<ul class="sortable list-unstyled xvoc_definition" style="display:none;" data-voc="{{ voc }}">
				{% for id,def in voc_arr %}
					<li data-id="{{ id }}" data-text="{{ def }}" class="list-group-item">
						<i class="fa fa-arrows" title="{{ tr.get('drag_to_sort') }}" style="cursor:move"></i>
						<span class="def">{{ def }}</span>
						<span class="badge pull-right">
							<i class="fa fa-pencil edit_def" title="{{ tr.get('edit') }}" style="cursor:pointer"></i>
						</span>
						<span class="badge pull-right">
							<i class="fa fa-trash delete_def" title="{{ tr.get('erase') }}" style="cursor:pointer"></i>
						</span>
					</li>
				{% endfor %}
					<div style="padding: 5px;"><button class="btn btn-default btn-sm add_voc" data-voc="{{ voc }}"><i class="fa fa-plus"></i></button></div>
			</ul>
		</li>

	{% endfor %}
	</ul>

{% endif  %}